@model ChatWeb.Models.Room

@{
    ViewBag.Title = "Delete";
}

<h2>Rooms : Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Room</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.room_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.room_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.room_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.room_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.owner_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.owner_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.member_list)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.member_list)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.make_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.make_date)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
