@model ChatWeb.Models.Room

@{
    ViewBag.Title = "Details";
}

<h2>Rooms : Details</h2>

<div>
    <h4>Room</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.room_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.room_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.room_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.room_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.owner_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.owner_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.member_list)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.member_list)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.make_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.make_date)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
